.feed-item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px #e2e2e2;
  -moz-box-shadow: 1px 1px 1px #e2e2e2;
  box-shadow: 1px 1px 1px #e2e2e2;
  background: #fff;
  overflow: hidden;
  margin: auto;
  min-height: 120px;
  margin-bottom: 12px;
  min-width: 360px;
  max-width: 500px;
  padding: 0 2%;
}
.caduceus {
  background-image: url(/img/sprite-sa313b29d78.png);
  background-position: 0px -5963.5px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 17px;
  vertical-align: middle;
  width: 11px;
  padding: 1px;
}
.caduceus-icon {
  margin-right: 3px;
  background-image: url(/img/sprite-sa313b29d78.png);
  background-position: 0px -3806px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 26px;
  vertical-align: middle;
  width: 26px;
  padding: 1px;
}
.thank-icon {
  margin: -8px 0 -1px 3px;
  background-image: url(/img/sprite-sa313b29d78.png);
  background-position: 0px -3717.5px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 26px;
  vertical-align: middle;
  width: 19px;
  padding: 1px;
}
.another-source {
  font-size: 12px;
}
.subscription-item {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-box-shadow: #e2e2e2 1px 1px 1px 0px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #ffffff;
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: #333333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #333333;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: #333333;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: #333333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: #e2e2e2 1px 1px 1px 0px;
  color: #333333;
  text-align: center;
  padding: 0px;
  vertical-align: baseline;
}
.subscription-item .video-container {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.subscription-item .video-container img {
  width: 100%;
  height: auto;
}
.subscription-item .info-wrap {
  padding: 25px 20px 5px;
}
.subscription-item .small-green-check {
  display: inline-block;
  background-image: url(/img/sprite2-s06127b96bc.png);
  background-position: 1px -6044px;
  background-repeat: no-repeat;
  height: 11px;
  width: 11px;
}
.subscription-item .value-props {
  text-align: center;
  margin-bottom: 15px;
}
.subscription-item .value-props .props-container {
  display: inline-block;
  text-align: left;
}
.subscription-item .small-green-check {
  display: inline-block;
  background-image: url(/img/sprite2-s06127b96bc.png);
  background-position: 1px -6044px;
  background-repeat: no-repeat;
  height: 11px;
  width: 11px;
}
.subscription-item .prop-text {
  display: inline-block;
  margin-left: 10px;
}
.subscription-item .plan-box {
  border-bottom-color: #d3fcf5;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #d3fcf5;
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: #d3fcf5;
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: #d3fcf5;
  border-top-style: solid;
  border-top-width: 2px;
  color: #333333;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  padding: 4px 2px;
  position: relative;
  text-align: center;
  vertical-align: baseline;
  background-color: #d3fcf5;
}
.subscription-item .plan-box .big-price {
  font-size: 24px;
  margin: 0px 10px 10px;
}
.subscription-item .plan-box .big-price .dollar-sign {
  display: inline-block;
  font-size: 12px;
  position: relative;
  bottom: 9px;
  left: 7px;
}
.subscription-item .plan-box .plan-price {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: 95px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #d3fcf5;
  background-image: none;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-size: 95px;
  color: #333333;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 12.800000190734863px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  padding: 5px 15px 0px;
  position: relative;
  text-align: center;
  vertical-align: baseline;
}
.subscription-item .plan-box .add-others {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: 95px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #ffffff;
  background-image: none;
  background-origin: padding-box;
  background-position: -3px -65px;
  background-repeat: no-repeat;
  background-size: 95px;
  border-bottom-color: #333333;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #333333;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: #333333;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: #333333;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: #333333;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 14.399999618530273px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  text-align: center;
  vertical-align: baseline;
}
.subscription-item .subscribe-btn {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #35e2c3;
  border-bottom-color: #ffffff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #ffffff;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: #ffffff;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: #ffffff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 18.399999618530273px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  height: 45px;
  line-height: 25px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  outline-color: #ffffff;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none solid #ffffff;
  text-shadow: rgba(17, 121, 103, 0.498039) 1px 1px 1px;
  text-transform: none;
  vertical-align: baseline;
  width: 256px;
}
